.main {
  display: flex;
  padding: 1em;
  height: 100vh;
  width: 100vw;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
#primary {
  display: flex;
  flex-direction: row;
}
#primary input {
  width: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
  color: white;
}
.confirm {
  color: red;
  display: flex;
}
.question {
  font-size: 45px;
  color: red;
}
